body {
	background-color: #062863;
	background-image: url("assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
	font-family: "Josefin Sans", sans-serif;
	margin: 0px;
}

* {
	box-sizing: border-box;
}

.overlay {
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.content-container {
	max-width: 28rem;
	position: relative;
	left: 100%;
	transform: translateX(-100%);
}

.close {
	width: 32px;
	position: relative;
	left: 90%;
}

.close-div {
	margin-bottom: 24px;
}

.input-container {
	margin-bottom: 32px;
}

.header {
	margin-bottom: 32px;
}

h3 {
	text-align: left;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	margin: 10px;
	color: #2295F2;
	margin: 0px;
}

.welcome {
	font-family: "Karla", sans-serif;
	text-align: left;
	font-size: 14px;
	line-height: 21px;
	color: #4a5568;
	margin: 0px;
}

.calculator {
	z-index: 998;
}

.results {
	z-index: 999;
}

.sidebar {
	background-color: #ffffff;
	border: 0px solid #ffffff;
	border-radius: 0px;
	padding: 40px 40px 48px 40px;
	width: 28rem;
	position: fixed;
    right: 0%;
    top: 0%;
    height: 100%;
    transition: all .3s ease-in-out;
}

.hidden {
	transform: translateX(100%);
	overflow-x: hidden;
	display: block;
}

.visible {
	transform: translateX(0%);
	display: block;
}

.btn {
	width: 100%;
	padding: 20px 40px 16px 40px;
	background-color: #2295F2;
	border: 2px solid #2295F2;
	border-radius: 12px 12px 12px 0px;
	color: #ffffff;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
	cursor: pointer;
	margin-top: 72px;
	transition: all .3s ease-in-out;
}

.safelock {
	font-size: 18px;
	font-weight: 700;
}

.selectors {
	margin: 24px 0px;
	height: 20vh;
}

select {
	width: 100%;
	border: none;
	font-family: "Segoe UI", sans-serif;
	font-size: 16px;
	color: #1a202c;
	line-height: 24px;
	background-color: #EDF2F7;
	padding: 16px;
	border-radius: 8px;
	-webkit-appearance: none;
	appearance: none;
	background-image: url(assets/chevron-down.svg);
	background-repeat: no-repeat;
	background-position: right;
	background-origin: content-box;
	background-size: 20px;
}

input {
	width: 100%;
	border: none;
	padding: 16px;
	box-sizing: border-box;
	background-color: #EDF2F7;
	border-radius: 4px;
	line-height: 24px;
}

label {
	display: inline-block;
	margin-bottom: 4px;
	color: #4a5568;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	box-sizing: inherit;
}

input::placeholder {
	font-family: "Segoe UI", sans-serif;
	font-size: 16px;
	color: rgba(26, 32, 44, .5);
	line-height: 24px;
}

option {
	font-family: "Segoe UI", sans-serif;
	font-size: 16px;
	color: rgba(26, 32, 44, .5);
	line-height: 24px;
	background-color: #ffffff;
	padding-top: 20px;
}

#error {
	font-family: "Karla", sans-serif;
	color: red;
	font-size: 16px;
	margin-top: 24px;
}

.active {
	cursor: pointer;
}

#interest, #balance {
	color: #083E9E;
	font-family: "Karla", sans-serif;
	font-weight: 700;
	font-size: 48px;
	margin: 40px 0;
	width: 100%;
	overflow-wrap: break-word ;
}

.result-detail {
	margin-top: 16px;
}

.btn-alt {
	background-color: white;
	color: #2295F2;
	border: 2px solid #2295F2;
	margin-top: 16px;
}

.social {
	background-image: url(./assets/twitter-logo-blue.svg);
    background-size: 20px;
	background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: center;
}

#download {
	margin-top: 24px;
	color: #2295F2;
	font-weight: 700;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

/*Styling hover and focus states*/

.btn:hover {
	background-color: #083E9E;
	border: 2px solid #083E9E;
}

.btn:focus {
	outline: none;
}

.btn-alt:hover {
	background-color: #083E9E;
	color: white;
	border: 2px solid #083E9E;
	margin-top: 16px;
}

.social:hover {
	background-image: url(./assets/twitter-logo-white.svg);
}

#download:hover {
	color: #083E9E;
}

input:focus {
	border: none;
	outline: none;
	color: #1a202c;
	font-size: 16px;
	line-height: 24px;
}

select:focus {
	outline: none;
}

/* MEDIA QUERIES */

@media (max-width: 475px) {
	body {
		background-image: none;
		background-size: contain;
		
		width: 100%;
	}

	.sidebar {
	    background-color: #ffffff;
	    border: 0px solid #ffffff;
	    border-radius: 0px;
	    padding: 40px 40px 48px 40px;
	    width: 100%;
	    height: unset;
	    position: relative;
        top: 0%;
        left: 0%;
    }

    .hidden {
        position: fixed;
        overflow-x: hidden;
    }

    .visible {
    	position: absolute;
    	overflow-x: hidden;
    }

    #calculate {
	    margin-top: 16px;
    }

}